
body {
    font-family: sans-serif;
    background: #0e0e0e;
    color: #fff;;
}

.Main_nav {
    display: flex;
    justify-content: end;
}

.Main_nav.open {
    transform: rotate(45deg);
}

.sidebar_img_container {
    width: 270px;
    padding: 0px 100px 0px 40px;
    margin: 16px 0px;
}

.img_sidebar img {
    height: 15vh;
    border-radius: 50%;
    margin-left: 50px;
}

.sidebar_name {
    width: 250px;
}

.name_img_sidebar {
    font-size: 24px;
}

.sidebar_icone_contaner {
    padding: 0px 100px 0px 75px;
}

.icone_sidebar {
    font-size: 30px;
}

.sidebar_btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100; 
  border: none;
  font-size: 2.5em;
  background: none;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar_btn.rotate {
    transform: rotate(45deg);
}

.Nav_container {
    width: 300px;
    height: 100vh;
    background: #1a1a1a;
    z-index: 1000;
    padding: 90px 0px 0px 0px;
    transition: left 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: -100%;
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.Nav_container.open {
    left: 0;
}

.Nav_container ul {
    list-style: none;
    padding-right: 100px;
}

.Nav_container li {
    padding: 15px 20px;
    font-size: 1.2rem;
}

.Nav_container a {
    text-decoration: none;
    color: #00ffe7;
}

.Nav_container ul li:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

.right_nav_btn {
    position: fixed;
    width: 250px;
    height: 30vh;
    padding: 20px 0px 0px 0px;
}

.right_btn {
    font-size: 2rem;
}

.right_btn i {
    padding: 10px 10px;
    color: #00ffe7;
}

.right_btn i:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

/* 



*/

.main_img_container {
    margin: 150px 0px 0px 450px;
}

.img_main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img_main img {
    border-radius: 50%;
}

.text_content {
  display: flex;
  flex-direction: column;
}

.text_content h1 {
  font-size: 2em;
  
  margin: 0;
}

.text_content p {
  font-size: 1.2em;
  color: #ccc;
  margin: 5px 0 0;
}

.custom-heading {
  width: 320px;
  font-size: 2.5rem; 
  font-weight: bold;
  color: #ffffff;           
  margin: 0;
}

.custom-subtitle {
  font-size: 1.25rem;       
  color: #cccccc;           
  margin-top: 8px;
}

.custom-heading span {
  color: #00ffe7;
}

.custom-subtitle {
  letter-spacing: 1px;
}