
body {
    font-family: 'Segoe UI' sans-serif;
    background: #0e0e0e;
    color: #fff;;
}

.Main_nav {
    display: flex;
    justify-content: end;
}

.Main_nav.open {
    transform: rotate(45deg);
}

.sidebar_img_container {
   text-align: center;
    margin-bottom: 20px;
}

.img_sidebar img {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00ffe7;
}

.sidebar_name p {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    color: #00ffe7;

}

.name_img_sidebar {
    font-size: 24px;
    color: #00ffe7;
}

.sidebar_icone_contaner {
    margin-top: 10px;
}

.icone_sidebar a {
    font-size: 24px;
    margin: 0 10px; 
    color: #fff;
    transition: color 0.3s ease;
}

.icone_sidebar a i:hover {
    transform: translateY(-3PX);
}

.sidebar_btn {
   position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    border: none;
    font-size: 2.5em;
    background: none;
    color: #00ffe7;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidebar_btn.rotate {
    transform: rotate(45deg);
}

.Nav_container {
    width: 300px;
    height: 100vh;
    background: #1a1a1a;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    padding-top: 90px;
    transition: left 0.4s ease-in-out;
    overflow-y: auto;
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.Nav_container.open {
    left: 0;
}

.Nav_container ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}

.Nav_container li {
    padding: 15px 0;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.Nav_container a {
    text-decoration: none;
    color: #00ffe7;
}

.Nav_container ul li:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

.right_nav_btn {
    position: relative;
    width: 250px;
    height: 30vh;
    padding: 20px 0px 0px 0px;
}

.right_btn {
    font-size: 2rem;
}

.right_btn i {
    padding: 10px 10px;
    color: #00ffe7;
}

.right_btn i:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
}

/* 



*/

.main_body_container {
    height: 490vh;
}

.main_img_container {
    margin: 150px 0px 0px 380px;
}

.img_main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img_main img {
    border-radius: 50%;
}

.text_content {
  display: flex;
  flex-direction: column;
}

.text_content h1 {
  font-size: 2em;
  margin: 0;
}

.text_content p {
  font-size: 1.2em;
  color: #ccc;
  margin: 5px 0 0;
}

.custom-heading {
  width: 290px;
  font-size: 2.5rem; 
  font-weight: bold;
  color: #ffffff;           
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: 
            typing 2s steps(30),
            cursor .5s step-end infinite alternate;
}

/* Cursor blinking */

@keyframes typing {
    from { width: 0; }
    to { width: 290px; }
}

@keyframes cursor {
  50% { border-color: transparent; }
}

.custom-subtitle {
  font-size: 1.25rem;       
  color: #cccccc;           
  margin-top: 8px;
}

.custom-heading span {
  color: #00ffe7;
}

.custom-subtitle {
  letter-spacing: 1px;
}
/* 



*/

.main_about_container {
    margin-top: 200px;
}

.about_container {
    border-bottom: 3px solid #00ffe7;
}

.paragraph_about_container {
    margin-top: 50px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.main_under_about_container {
    margin-top: 60px;
}

.UI_IMG {
    display: flex;
    gap: 20px;
}

.UI_IMG img {
    height: 461px;
}

.UI_container {
    display: flex;
    flex-direction: column;
}

.UI_IMG h1 {
    color: #00ffe7;
    margin-top: 0px;
}

.UI_IMG p {
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.main_UI_form {
    margin-top: 20px;
}

.UI_form {
    display: flex;
    gap: 150px;
}

.form {
    display: flex;
    flex-direction: column;
}
/* 



*/

.certificate_body_container {
    margin-top: 200px;
}

.certificate_titel {
    border-bottom: 3px solid #00ffe7;
}

.certificate_container {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: #cccccc11;
}

.certificate_heder_container {
    padding-top: 30px;
    text-align: center;
    font-size: 32px;
}

.certificate_heder_container h6 {
    font-size: 16px;
    letter-spacing: 1px;
}

.certificate_button button {
    width: 200px;
    height: 55px;
    background-color: #00ffe7;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.certificate_button button:hover {
    transform: translateY(-3PX);
    transition: transform 0.3s ease;
}

.summary_container {
    margin: 50px;
    text-align: center;
    font-family: serif;
    border: 2px solid #00ffe7;
}

/*



*/

.project_main_container {
    margin: 50px;
    padding-top: 100px;
}

.project_title {
    border-bottom:2px solid #00ffe7;
}

.project_container {
    margin-top: 50px;
    background-color: #cccccc11;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.project_card {
    margin: 50px 0px 0px 60px;
    padding: 20px;
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 231, 0.2);
}

.project_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project_card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #00ffe7;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.project_card:hover img {
    transform: scale(1.05);
}

.project_card:hover .overlay {
    opacity: 1;
}

.second_project_card {
    margin: 50px 0px 0px 60px;
    padding: 20px;
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 231, 0.2);
}

.second_project_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.second_project_card .overlayy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #00ffe7;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.second_project_card:hover img {
    transform: scale(1.05);
}

.second_project_card:hover .overlayy {
    opacity: 1;
}

.third_project {
    margin: 50px 0px 0px 60px;
    padding: 20px;
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 231, 0.2);
}

.third_project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.third_project .overlayyy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #00ffe7;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.third_project:hover img {
    transform: scale(1.05);
}

.third_project:hover .overlayyy {
    opacity: 1;
}
/* 



*/

.Contact_main_container {
    margin: 50px;
    padding-top: 100px;
    width: 95%;
}

.hader_contaner {
    border-bottom: 3px solid #00ffe7;
}

.main_map_container {
    margin-top: 50px;
}

.map_container p  iframe {
    width: 95%;
}

.contact_info_container {
    background-color: #cccccc11;
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 231, 0.2);
    text-align: center;
}

.contact_info_container h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.contact_links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.contact_links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact_links a i {
    margin-right: 10px;
}


.contact_links li {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 20px;
}

.contact_links a:hover {
    transform: translateY(-3PX);
    transition: transform 0.3s ease;
    color: #00ffe7;
}

.contact_links li:hover {
    transform: translateY(-3PX);
    transition: transform 0.3s ease;
}