
body {
    font-family: sans-serif;
    background: #0e0e0e;
    color: #fff;;
}

.Main_nav {
    position: fixed;
}

.Main_nav.open {
    transform: rotate(45deg);
}

.sidebar_btn {
    border: none;
    padding: 20px 0px 0px 20px;
    font-size: 2em;
    z-index: 1100;
    position: fixed;
    background: none;
    color: #fff;
}

.Nav_container {
    width: 250px;
    height: 100vh;
    background: #1a1a1a;
    z-index: 1000;
    transition: left 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: -100%;
}

.rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.Nav_container.open {
    left: 0;
}

.Nav_container ul {
    list-style: none;
    padding-right: 100px;
}

.Nav_container li {
    padding: 15px 20px;
    font-size: 1.2rem;
}

.Nav_container a {
    text-decoration: none;
    color: #00ffe7;
}